annotated-doc 
annotated-types 
anyio 
asttokens 
attrs 
backcall 
beautifulsoup4 
bleach 
Cartopy 
certifi 
charset-normalizer 
click 
contourpy 
cycler 
decorator 
defusedxml 
docopt 
donfig 
executing 
fastapi 
fastjsonschema 
flexcache 
flexparser 
fonttools 
git-filter-repo 
google-crc32c 
h11 
h5py 
idna 
ipython 
jedi 
Jinja2 
jsonschema 
jsonschema-specifications 
jupyter_client 
jupyter_core 
jupyterlab_pygments 
kiwisolver 
MarkupSafe 
matplotlib 
matplotlib-inline 
MetPy 
mistune 
nbclient 
nbconvert 
nbformat 
numcodecs 
numpy 
packaging 
pandas 
pandocfilters 
parso 
pexpect 
pickleshare 
pillow 
Pint 
pipreqs 
platformdirs 
pooch 
prompt_toolkit 
ptyprocess 
pure_eval 
pydantic 
pydantic_core 
Pygments 
pyparsing 
pyproj 
pyshp 
python-dateutil 
PyYAML 
pyzmq 
referencing 
requests 
rpds-py 
scipy 
shapely 
six 
soupsieve 
stack-data 
starlette 
tinycss2 
tornado 
traitlets 
typing-inspection 
typing_extensions 
urllib3 
uvicorn 
wcwidth 
webencodings 
xarray 
yarg 
zarr 
